*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');

body {
  font-family: 'Big Shoulders Stencil Text', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h1 {
  font-family: inherit;
  text-align: center;
  font-size: 72px;
  margin: 1rem;
  letter-spacing: 1rem;
}

.pieces-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 140px;
  background-color: grey;
  margin: 0 auto;
}

.carrier, .destroyer, .battleship, .submarine, .patrol-boat {
  background-color: rgb(99, 228, 99);
}

.carrier-piece {
  height: 20px;
  width: 100px;
  margin: 3px;
}

.destroyer-piece {
  height: 20px;
  width: 80px;
  margin: 3px;
}

.battleship-piece {
  height: 20px;
  width: 60px;
  margin: 3px;
}

.submarine-piece {
  height: 20px;
  width: 60px;
  margin: 3px;
}

.patrol-boat-piece {
  height: 20px;
  width: 40px;
  margin: 3px;
} 