*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');

body {
  font-family: 'Big Shoulders Stencil Text', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h1 {
  font-family: inherit;
  text-align: center;
  font-size: 72px;
  margin: 1rem;
  letter-spacing: 1rem;
}

h4 {
  font-family: inherit;
  text-align: center;
}

.pieces-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 50px;
  margin: - 0 1rem 50px;
}

.gameboards-container {
  display: grid;
  grid-template-areas: "friendly enemy"
                       "player computer";
  place-items: center;
}

#computer > div.hit {
  background-color: red;
}

.carrier, .destroyer, .battleship, .submarine, .patrol {
  cursor: pointer;
}

.carrier {
  background-color: red;
}

.destroyer {
  background-color: orange;
}

.battleship {
  background-color: blue;
}

.submarine {
  background-color: purple;
}

.patrol {
  background-color: green;
}

.carrier-piece {
  height: 30px;
  width: 150px;
  margin: 3px;
}

.destroyer-piece {
  height: 30px;
  width: 120px;
  margin: 3px;
}

.battleship-piece {
  height: 30px;
  width: 90px;
  margin: 3px;
}

.submarine-piece {
  height: 30px;
  width: 90px;
  margin: 3px;
}

.patrol-piece {
  height: 30px;
  width: 60px;
  margin: 3px;
} 

.game-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 300px;
  height: 300px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

#computer {
  grid-area: computer;
}

#player {
  grid-area: player
}

.friendly {
  grid-area: friendly
  text-align-center
}

.enemy {
  grid-area: enemy;
  text-align: center;
}

.hover {
  background-color: grey;
}

.hit {
  background-color: red;
}

.miss {
  background-color: #333;
}

#start-btn {
  display: block;
  margin: 1rem auto 0 auto;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
}

.hit-message {
  color: red;
  opacity: 0;
  animation: attack 1s;
  text-transform: uppercase;
  position: absolute;
}

.miss-message {
  color: rgb(214, 181, 32);
  opacity: 0;
  animation: attack 1s;
  text-transform: uppercase;
  position: absolute;
}

@keyframes attack {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}